/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center; padding:10px 0; border-top:solid 1px #A1BDC4;}
th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}


/* GENERAL */
body {font-size:13px; color:#444; font-family:georgia,sans-serif; background:#FFF url("../images/body_bg.jpg") fixed no-repeat top center;}
a {color:#990099; outline:none;}
a:hover {text-decoration:none;}
p {padding:5px 0;}
.clear {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}
label {font-size:14px; color:#990099; display:block;}
h1 {font-size:24px; color:#990099; font-weight:normal; padding:5px 0; margin:5px 0; letter-spacing:-1px;}
h2 {font-size:18px; font-weight:normal;}
h3 {font-size:14px; color:#333; font-weight:normal; padding:5px 0; margin:5px 0;}
h4 { font-size:14px; color:#990099; font-weight:normal; padding:5px 0; margin:5px 0;}

input, textarea, select {background-color:#FFF; margin:3px 0; font-size:12px; font-family:Arial,Sans-serif; padding:5px; border:solid 1px #CCC;}
input:focus, textarea:focus, select:focus {border:solid 1px #990099; color:#333;}
button {background-color:#FFF; margin:2px 0; font-size:12px; font-family:Arial,Sans-serif; padding:4px 10px; border:solid 1px #e886e4; -moz-border-radius:3px;}
button:hover {background-color:#EEE; cursor:pointer;}
.inputSmall {width:210px;}
.inputBig {width:442px;}
.selectSmall {width:222px; outline:none;}

/* BUILD */
.ie6 {overflow:hidden; width:600px; margin:120px auto 0; padding:20px 0; background-color:#FFF; border:solid 3px #9e005d; -moz-border-radius:10px;}
.wrapper {width:970px; margin:0 auto;}
.header {position:relative;}
.logo {height:105px;}
.logoHolder {position:absolute; top:15px; left:0;}
.lang {padding:5px 2px 0 0; text-align:center; position:absolute; top:0; right:20px; width:62px; height:35px; background:transparent url(../images/lang_bg.png) scroll no-repeat bottom center;}
.lang .active, .lang .active:hover {text-decoration:none; font-weight:bold; color:#000;}
.letter {position:absolute; top:0; right:5px; width:60px; height:40px; background:transparent url(../images/letter_bg.png) scroll no-repeat top center;}
.phone {position:absolute; top:10px; right:0; width:77px; height:74px; background:transparent url(../images/phone_bg.png) scroll no-repeat top center;}
.wings {position:absolute; top:-75px; right:0; width:230px; height:90px; background:transparent url(../images/wings.png) scroll no-repeat top center;}
.top {height:15px; background:transparent url(../images/header_bg.png) scroll no-repeat top center;}
.main {padding:5px 0 0; background:transparent url(../images/main_bg.png) scroll repeat-y top center;}
.bottom {height:15px; margin:0 0 50px; background:transparent url(../images/footer_bg.png) scroll no-repeat top center;}
.additional {margin:30px 0 0;}
.contactUs {margin:30px 0 0;}
.partners {margin:0 20px; text-align:center; padding:20px 0;}

/* VISUALS */

.borBot {border-bottom:solid 1px #CCC;}
.pdf {border:dashed 1px #ccc; border-left:none; border-right:none; margin:10px 0; padding:10px 10px 10px 35px; background:transparent url(../images/pdf.png) scroll no-repeat 0 50%;}
.breadcrumb {line-height:30px; border-bottom:solid 1px #CCC;}

/* NAVIGATION */
.topNav {color:#FFF; position:absolute; top:5px; right:100px;}
.topNav a {color:#FFF;}
.mainNav {color:#FFF; position:absolute; margin:67px 0 0; right:0; top:0; font-size:13px; font-weight:bold; letter-spacing:-1px;}
.mainNav a {color:#FFF; text-decoration:none; padding: 0 5px; text-transform:uppercase; outline:none;}
.mainNav a:hover {color:#000;}
.mainNav .active,.mainNav .active:hover {color:#000;}

.subNav {overflow:hidden; margin:25px 0 0;}
.subNav li {border-bottom:dotted 1px #CCC;}
.subNav li a {color:#333; text-decoration:none; outline:none;}
.subNav li a:hover {color:#990099;}
.subNav .active,.subNav .active:hover {color:#000;}


.arrow {outline:none; z-index:3; top:100px; position:absolute; width:50px; height:64px; display:block; background-image: url(../images/arrows.png);}
.right {right:5px; background-position:top right;}
.right:hover {background-position:-100px 0;}
.left {left:-15px; background-position:top left;}
.left:hover {background-position:-50px 0;}

.banners {position:relative; height:305px; margin:0 0 0 20px;}
.banners .maskBottom {z-index:3; height:52px; width:930px; position:absolute; bottom:0; left:0; background:transparent url(../images/maskBottom.png) scroll no-repeat bottom center;}
.banners .maskTop {z-index:1; height:10px; width:300px; position:absolute; top:0; left:0; background:transparent url(../images/maskTop.png) scroll no-repeat bottom center;}
.banners .image {position:relative;}
.banners .title {padding:10px 15px; text-decoration:none; font-size:24px;color:#FFF; position:absolute; width:270px; bottom:0; left:0; height:60px; background:transparent url(../images/transparent.png) scroll repeat bottom center;}
.banners .title span {padding:8px 0 0; float:right; font-size:14px; color:#999;}
.banners .title:hover span {color:#FFF;}
.banner ul {overflow:hidden;}
.banners li {float:left; width:300px; height:290px; margin:0 15px 0 0;}
.jCarouselLite {width:930px !important;}

.content {padding:10px 25px 5px; overflow:hidden;}
.links {overflow:hidden; padding:10px 25px;}
.about {float:left; width:455px; padding:0 235px 0 0; overflow:hidden; background:transparent url(../images/about_bg.png)scroll no-repeat 510px center;}
.newsletter {float:left; width:330px; position:relative;}
.details {float:right; width:570px; position:relative;}
.callUs {margin:100px 0 0; float:left; width:230px; position:relative;}
.sidebar h3  {padding:5px 0;}
.sidebar {width:230px; float:right;}
.sidebar h4 {border-bottom:solid 1px #CCC;}
.mainContent{float:left; width:670px;}
.mainPromo{float:left; width:670px; margin:15px 0 0;}
.onePromoted {overflow:hidden; padding:10px 0;}
.onePromoted img {margin:0 5px 10px 0;}

.boxHolder {position:relative; border-top:solid 1px #CCC; border-bottom:solid 1px #CCC; margin:45px 15px 0; padding:9px 0;}
.tabs {position:absolute; top:-31px; left:0;}
.tabs li {float:left;}
.tabs a {color:#666; line-height:30px; padding:1px 15px 0; text-decoration:none; display:block; }
.tabs a:hover {color:#000;}
.tabs .active,.tabs .active:hover {background-color:#f4f5f6;  padding:0 14px 0; border:solid 1px #CCC; color:#990099; border-bottom:none;}

.box {padding:10px; float:left; background-color:#FFF; border:solid 1px #ccc; width:195px; height:140px; margin:9px;}
.box img {margin:0 0 5px; display:block; text-indent:-9999; background:transparent url(../images/loader.gif) scroll no-repeat center center; }
.box a { text-decoration:none; outline:none; color:#333;}
.box a:hover {color:#990099;}

.boxBig {padding:10px; width:900px;}

/* tabelar data */
table {overflow:hidden;}
tbody td {padding:2px 5px;}
tfoot td {padding:5px;}
table th {padding:5px;}

.j_warning {border:solid 1px #ff9999!important;}/*input borders error*/
.message {text-align:center; padding:20px 0; margin:20px 0; } /* notofication holder */
.error {border:solid 1px #ff9999; background:#ffcccc; color:#cc3333;} /* red */
.success {border:solid 1px #96ca3a; background:#ccff99; color:#339900;} /* green */


