/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center; padding:10px 0; border-top:solid 1px #A1BDC4;}
th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}


/* GENERAL */
body {font-size:12px; color:#333; font-family:arial,sans-serif; background:transparent url("../images/body_bg.jpg") scroll repeat top center;}
a {color:#587E85;}
a:hover {text-decoration:none;}
p {font-family:arial,sans-serif;}
.clear {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}
label {line-height:18px;}
h1 {font-size:14px; line-height:40px; font-weight:bold; letter-spacing:-1px;}
h2,caption {font-size:14px; line-height:20px; font-weight:bold;}
h3 {font-size:13px; font-weight:bold;}
button, input, textarea, select {font-size:12px; font-family:Arial,Sans-serif;}

/* BUILD */
.wrapper {width:970px; margin:0 auto;}
.header {}
.logo {height:125px;}
.mainNav {height:50px; background:transparent url(../images/nav_bg.png) scroll no-repeat top center;}
.main {height:600px; background:transparent url(../images/main_bg.png) scroll repeat-y top center;}
.footer {height:15px; background:transparent url(../images/footer_bg.png) scroll no-repeat top center;}

/* NAVIGATION */
.mainNav ul {padding:5px 0 0 5px;}
.mainNav li {position:relative; float:left; font-size:14px; font-weight:bold; letter-spacing:-1px;}
.mainNav li a {color:#FFF; padding:18px 20px 13px 20px; text-decoration:none; text-transform:uppercase; display:block;}
.mainNav li a span {position:absolute; top:0; right:0; width:25px; height:45px; margin-right:-5px; background:transparent url(../images/navIdle_bg.png) scroll no-repeat 20px 0;}
.mainNav li a:hover {color:#444;}

.mainNav li .active,.mainNav li .active:hover {color:#333; padding:18px 20px 0 23px; margin:0 0 0 -3px; height:27px; background:transparent url(../images/navActive_bg.png) scroll no-repeat top left;}
.mainNav li .active span {position:absolute; top:0; right:0; width:5px; height:45px; margin-right:-5px; background:transparent url(../images/navActive_bg.png) scroll no-repeat top right;}

.mainNav .firstActive,.mainNav .firstActive:hover {color:#333; padding:18px 20px 0 23px; height:27px; background:transparent url(../images/firstNavActive_bg.png) scroll no-repeat top left;}
.mainNav li .firstActive span {position:absolute; top:0; right:0; width:5px; height:45px; margin-right:-5px; background:transparent url(../images/firstNavActive_bg.png) scroll no-repeat top right;}

